extends layouts/layout_home
include mixins/videoBlock

block content
    .home-videos
        each video in videos
            +videoBlock({
                title: video.title,
                views: video.views,
                likes: video.likes,
                videoFile: video.fileUrl,
                id: video.id,
                createdAt: video.createdAt,
                avatarUrl: video.creator.avatarUrl,
            })