mixin videoComment(comment = {})
    li
        .commentColumn#commentAvatarColumn
            img(src=comment.creator.avatarUrl)
        .commentColumn#commentContentColumn
            .commentContentRow
                if comment.isCreator
                    span.authorComment=comment.creator.name
                else 
                    span=comment.creator.name
            .commentContentRow
                span=comment.text
            .commentContentRow 
                .likeContainer 
                    i.fas.fa-thumbs-up
                    span Like 
                    i.fas.fa-thumbs-down 
                    span Dislike
                span#replyBtn 답글
        .commentColumn#commentLastColumn
            if loggedUser && comment.isOwn
                button.delComBtn ❌


                