extends layouts/layout_home
include mixins/searchVideoBlock

block content
    .search__header
        h3 Searching for : #{searchingBy}
    .search__videos
        if videos.length === 0
            h4 No Videos Found.
        each video in videos
            +searchVideoBlock({
                title: video.title,
                views: video.views,
                likes: video.likes,
                videoFile: video.fileUrl,
                id: video.id,
                createdAt: video.createdAt,
                avatarUrl : video.creator.avatarUrl,
                creatorName : video.creator.name,
                description : video.description
            })