aside.leftBar-container
    .leftBar-header
        i.fab.fa-youtube
    ul.leftBar-mainList
        li.leftBar-mainItem
            a(href="/")
                i.fas.fa-home 
                span 홈 
        li.leftBar-mainItem
            i.fas.fa-fire-alt
            span 인기 
        li.leftBar-mainItem
            i.fas.fa-newspaper 
            span 구독
        li.leftBar-mainItem
            i.fab.fa-youtube
            span Originals
        li.leftBar-mainItem
            i.fas.fa-tools 
            span Other Services...