aside.leftBar-container
    .leftBar-header
    ul.leftBar-mainList
        li.leftBar-mainItem
            i.fas.fa-home 
            span home 
        li.leftBar-mainItem
            i.fas.fa-home 
            span home 
        li.leftBar-mainItem
            i.fas.fa-home 
            span home 
        li.leftBar-mainItem
            i.fas.fa-home 
            span home 
        li.leftBar-mainItem
            i.fas.fa-home 
            span home 