.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .video__info {
    width: 100%;
    //max-width: 850px;
    margin-top: 45px;
    button {
      width: 120px;
      margin-bottom: 15px;
    }
    .video__author {
      a {
        color: $material-blue;
      }
    }
    .video__title,
    .video__views,
    .video__likes,
    .video__description {
      display: block;
      margin-bottom: 15px;
    }
    .video__title {
      font-size: 24px;
      font-weight: 300;
    }
    .video__views,
    .video__likes {
      font-size: 15px;
    }
    .video__description {
      font-size: 17px;
    }
  }
  .video__comments {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .video__comments-number {
      font-size: 18px;
    }
    .add__comment {
      display: flex;
      flex-direction: column;
      margin-top: 8px;
      width: 95%;
      textarea {
        width: 100%;
        max-width: none;
      }
      .add__commentBtn {
        margin-top: 8px;
        align-self: flex-end;
        display: flex;
        #add__commentCancel {
          width: 60px;
          background-color: $grey;
          color: $black;
          box-shadow: none;
        }
        #add__commentSubmit {
          width: 60px;
          margin-left: 15px;
          background-color: $material-blue;
          color: white;
          box-shadow: none;
        }
      }
    }
  }
}
